            body {
                margin: 0;
                font-family: 'open_sansregular';
                font-size: 15px;
                letter-spacing: 2px;
            }
            
            #search {
                width: 300px;
            }
            
            #showcase {
                height: 500px;
                background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(22, 20, 20, 0.363)), url(../img/code-code-editor-coding-computer-wallpaper.jpg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            
            #quote {
                width: 50%;
                color: white;
            }
            
            #jumbotron {
                color: white;
                width: 50%;
                margin: auto;
                background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
            }
            
            #ad {
                background: linear-gradient( to right, rgb(22, 22, 24), rgb(99, 99, 117));
                height: 200px;
                color: white;
            }
            
            #e-daro {
                font-size: 15px;
                font-family: Arial, Helvetica, sans-serif;
            }
            
            .top-rated {
                height: 150px;
                background: linear-gradient(to right, rgb(53, 53, 95), rgb(56, 56, 68));
                color: white;
            }
            
            .whyus {
                margin-top: -100px;
            }
            
            .topcategories {
                text-transform: capitalize;
                height: 250px;
                margin-top: 20px;
            }
            
            .topcategories .card:hover {
                box-sizing: border-box;
                width: 250px;
                color: black;
            }
            
            .newsletter {
                background-image: url(../img/images.jpg);
                height: 170px;
                color: white;
            }
            
            .links {
                height: auto;
            }
            
            footer {
                border-top: 1px solid lightgray;
                margin-top: 10px;
            }
            
            .login {
                background-image: linear-gradient(), url(../img/iStock-506432952.jpg);
            }
            
            @media(max-width:568px) {
                .newsletter,
                .top-rated,
                .topcategories {
                    height: auto;
                }
                body {
                    margin: 3px;
                }
            }
            
            @media(max-width:230px) {
                .topcategories,
                .newsletter {
                    height: auto;
                }
            }
            
            @media(max-width:237px) {
                .topcategories,
                .newsletter {
                    height: auto;
                }
            }
            
            @media(max-width:725px) {
                .topcategories,
                .newsletter {
                    height: auto;
                }
            }