                @import url("https://fonts.googleapis.com/css?family=Maven+Pro|Source+Sans+Pro:400,600&display=swap");
            .body {
                margin: 0;
                padding: 0;
                line-height: 1.6em;
                font-family: "trebuchet ms", helvetica, san-serif;
            }
            
            .header {
                background: black;
                display: block;
                height: 75px;
                float: left;
                width: 100%;
            }
            
            .header img {
                float: left;
            }
            
            .header ul {
                align-content: flex-end;
                justify-content: end;
            }
            
            .header a {
                text-decoration: none;
                color: white;
            }
            
            .header li {
                list-style: none;
                float: right;
                margin: 5px;
            }
            
            .navbar {
                background: rgb(214, 69, 105);
                height: 150px;
            }
            
            .navbar ul li {
                height: 30;
                width: auto;
            }
            
            .navbar li:hover {
                background: rgb(121, 31, 79);
            }
            
            .navbar li {
                margin-top: 20px;
                float: left;
                padding: 10px;
                list-style: none;
            }
            
            .navbar a {
                color: white;
                text-decoration: none;
                text-transform: uppercase;
            }
            
            .navbar input {
                border-radius: 10px;
                height: 25px;
                width: 300px;
                padding: 2px;
                margin-left: 400px;
                margin-top: 10px;
            }
            
            .search button {
                border-radius: 5px;
                margin-left: 5px;
                height: 30px;
            }
            
            .slider {
                margin-top: 2px;
                height: 450px;
                background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/212083.jpg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
            
            .flashsales {
                height: 500px;
                margin-left: 10px;
            }
            
            .img-column {
                width: 30%;
                height: 400px;
                float: left;
                font-size: 20px;
                background: whitesmoke;
                margin-left: 10px;
                margin-bottom: 10px;
                box-shadow: 10px;
                border: 1px solid lightgray;
            }
            
            .img-column button {
                background: rgb(214, 69, 105);
                height: 30px;
                border: 2px;
            }
            
            .whyus {
                height: 500px;
                border-top: 2px solid black;
            }
            
            .whyus h1 {
                text-transform: uppercase;
                color: rgb(110, 40, 40);
            }
            
            .whyus-column {
                height: 400px;
                width: 22%;
                margin: 10px;
                border: 1px solid lightgray;
                float: left;
                background: transparent;
                border-radius: 10px;
            }
            
            .accessories {
                height: 900px;
            }
            
            .ad-container {
                height: 200px;
                margin-top: 10px;
                background: rgb(255, 255, 255, 1);
            }
            
            .advert {
                background: rgb(219, 216, 211);
                height: 200px;
            }
            
            .payments {
                height: 100%;
                background: whitesmoke;
                height: 200px;
            }
            
            .login {
                width: 400px;
                background: gray;
                height: 400px;
                margin-left: 35%;
                border-radius: 10px;
                margin-top: 200px;
            }
            
            .login input {
                height: 30px;
                width: 200px;
                border-radius: 10px;
            }
            
            .footer {
                height: 150px;
                background: black;
            }
            
            .footer p {
                color: white;
                text-align: center;
                padding: 10px;