 body {
     font-family: 'Josefin Sans', sans-serif;
 }
 
 html {
     scroll-behavior: smooth;
     transition-delay: 5s;
 }
 
 .search {
     height: 150px;
 }
 
 .search .col {
     border-right: 1px solid lightgray;
 }
 
 .services {
     background: #3d486f;
     height: 400px;
     color: black;
 }
 
 .shopnow li {
     list-style: circle;
 }
 
 .createaccount {
     color: black;
 }
 
 .createaccount:hover {
     text-decoration: none;
 }
 
 .links {
     height: auto;
     background: rgba(113, 130, 146, 0.87);
     width: 100%;
 }
 
 .footer {
     height: 75px;
     color: white;
 }
 
 body {
     margin: 0px;
     padding: 0px;
     line-height: 1.6em;
 }
 
 .showcase {
     height: 450px;
     background-image: linear-gradient(rgba(0, 0, 0, 0.5)rgba(0, 0, 0, 0.5)), url('../img/212083.jpg');
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     width: 100%;
     color: white;
 }
 
 .nav2 ul {
     height: 30px;
 }
 
 .nav2 a {
     font-size: 15px;
     height: 30px;
 }
 
 .showcase .jumbotron {
     background: transparent;
 }
 
 #empty {
     height: 40px;
     background: #3c4872;
 }
 
 #shop a {
     color: black;
     text-decoration: none;
 }
 
 #shop a:hover {
     color: blue;
 }
 
 .search {
     height: 150px;
 }
 
 .search .col {
     border-right: 1px solid lightgray;
 }
 
 .services {
     background: #3d486f;
     height: 400px;
     color: black;
 }
 
 .shopnow li {
     list-style: circle;
 }
 
 .payments {
     height: 75px;
 }
 
 .links {
     height: auto;
     width: 100%;
 }
 
 .footer {
     height: 75px;
     color: white;
 }
 
 .empty {
     background: lightgray;
     height: 75px;
 }
 
 .categories ul li {
     padding: 5px;
     margin-bottom: 1px solid gray;
 }
 
 .categories ul {
     text-decoration: none;
 }
 
 a:hover {
     text-decoration: none;
 }
 /*cart css*/
 
 .content-section {
     margin: 1em;
 }
 
 .section-header {
     font-family: "Metal Mania";
     font-weight: normal;
     color: #333;
     text-align: center;
     font-size: 2.5em;
 }
 
 .cart-row {
     display: flex;
 }
 
 .cart-header {
     font-weight: bold;
     font-size: 1.25em;
     color: #333;
 }
 
 .cart-column {
     display: flex;
     align-items: center;
     border-bottom: 1px solid black;
     margin-right: 1.5em;
     padding-bottom: 10px;
     margin-top: 10px;
 }
 
 .cart-item {
     width: 45%;
 }
 
 .cart-price {
     width: 20%;
     font-size: 1.2em;
     color: #333;
 }
 
 .cart-quantity {
     width: 35%;
 }
 
 .cart-item-title {
     color: #333;
     margin-left: .5em;
     font-size: 1.2em;
 }
 
 .cart-item-image {
     width: 75px;
     height: 75px;
     border-radius: 10px;
 }
 
 .cart-quantity-input {
     height: 34px;
     width: 50px;
     border-radius: 5px;
     border: 1px solid #56CCF2;
     background-color: #eee;
     color: #333;
     padding: 0;
     text-align: center;
     font-size: 1.2em;
     margin-right: 25px;
 }
 
 .cart-total {
     text-align: end;
     margin-top: 10px;
     margin-right: 10px;
 }
 
 .cart-total-title {
     font-weight: bold;
     font-size: 1.5em;
     color: black;
     margin-right: 20px;
 }
 
 .cart-total-price {
     color: #333;
     font-size: 1.1em;
 }
 
 .cart-row:last-child {
     border-bottom: 1px solid black;
 }
 
 .cart-row:last-child .cart-column {
     border: none;
 }