/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
body {
    font-family: 'roboto', sans-serif;
}

h1,
h2,
h3,
p,
h4 {
    text-align: center;
}

.footer {
    height: 100px;
    color: white;
}

.section-title {
    background: lightgray;
    height: 90px;
}

.nav-link {
    color: white;
}