body {
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.6em;
}

.bg-nav {
    background: #3c4875;
}

.nav-link {
    color: white;
    padding: 5px;
}

.showcase {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/img/vote-wallpaper.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;
    color: white;
}

#showcase {
    background: transparent;
}

h1,
h2,
h3,
p,
h4 {
    text-align: center;
}

.footer {
    height: 100px;
    color: white;
}

.ourservices {
    background: #3c4875;
    color: white;
    padding: 5px;
}

.ourservices img {
    background-color: white;
    border-radius: 50%;
}

.ourservices h2 {
    margin-top: 50px;
    margin-bottom: 30px;
}

.us h2 {
    color: #3c4875;
    margin-top: 50px;
    margin-bottom: 30px;
}