<div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-nav">
        <a class="navbar-brand" href="#">ORION SYSTEMS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>



        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-5">
                <li class="nav-item">
                    <a class="nav-link" routerLink="#">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="#">CANDIDATES</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                          ELECTIONS
                        </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="">PRELIMINARIES</a>
                        <a class="dropdown-item" href="#">DELEGATES</a>
                        <a class="dropdown-item" href="#">CANDIDATES</a>
                        <a class="dropdown-item" href="#">MAIN ELECTIONS</a>

                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="#">CONTACT US</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="#"> ABOUT</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="showcase">
        <div class="jumbotron centered" id="showcase">
            <div class="jumbotron" id="showcase">
                <h1>ORION VOTING SYSTEMS</h1>

                <p>Orion systems is a secure online voting platform that makes it easy for a voter to <br>cast their vote and resume their activities. Our goal is to simplify<br> the voting process and help achieve more democratic <br>outcomes by better
                    representing the will of the voters.
                </p>

            </div>
        </div>
    </div>

    <div class="">
        <div class="ourservices">
            <h2 class="title">OUR SERVICES</h2>
            <div class="row bt-5">
                <div class="col-md-6">
                    <div class="card-body">
                        <div class="text-center">
                            <img src="/assets/img/faster.png" width="100px" height="100px;" alt=""></div>

                        <h4>FAST</h4>
                        <p>Time conservation is an important issue at orion. we make sure you only use just some little time of yours to cast your vote.
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <div class="text-center">
                            <img src="/assets/img/secure.png" width="100px;" height="100px" alt="">
                        </div>
                        <h4>SECURE</h4>
                        <p>votes cast in our systems are secured maximumly and no rigging or penetration is possible.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <div class="text-center">
                            <img src="/assets/img/easy.png" width="100px;" height="100px" alt="">
                        </div>
                        <h4>EASY</h4>
                        <p>voting with orion is simplified as you only follow the guidelines provided to you and within a minute you are done.</p>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <div class="text-center">
                            <img src="/assets/img/easy.png" width="100px;" height="100px" alt="">
                        </div>
                        <h4>EASY</h4>
                        <p>voting with orion is simplified as you only follow the guidelines provided to you and within a minute you are done.</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="container us">
        <h2>WHAT YOU CAN DO WITH US</h2>
        <div class="row">
            <div class="col-md-6">
                <h3>Easy to Set Up and Vote</h3>
                <p>
                    We make it super easy for you to set up an election and for your voters to cast their votes. When your election starts, each of your voters will receive an email with a secret, single-use voting link. Your voter then just clicks that link to be immediately
                    taken to the voting page. Because our process is so easy for voters, we get a higher percentage of voters to actually vote. Our interface allows both regular (check box) voting and (drag and drop) ranked choice voting. You can try
                    the voting interface in the example ballots that follow or by casting a vote in our demonstration poll.</p>
            </div>
            <div class="col-md-6">
                <img src="/assets/img/voting2-640x360.jpg" width="100%" max-width="350px;" alt="">
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6">
                <img src="/assets/img/ballot-safe.png" width="350px;" height="350px;" alt="">
            </div>
            <div class="col-md-6">
                <h3>Indisputable Results</h3>
                <p>
                    We're an independent third-party with no stakes in your election, and we've built OpaVote so it can only operate like a non-biaised and uninterested referee that you and your voters can trust. You and your voters can thus rest assured that no one in your
                    election - not even yourself - can tamper with or improperly influence your election's results.</p>
            </div>

        </div>

    </div>

    <div class="aboutus">

    </div>
    <!---
    <div>
        <h2 class="title">OUR TEAM</h2>
        <div class="row ourteam">
            <div class="col-md-3 team">
                <div class="card">
                    <img class="card-img-top img-rounded" src="/assets/img/user (2).png" height="100px;" width="100px;" alt="">
                    <div class="card-body">
                        <h3>Orion Pioneer</h3>
                        <p>this member pioneered this system and has worked hand in hand with the rest of the team to ensure sucess.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 team ">
                <div class="card">

                    <img class="card-img-top img-rounded" src="/assets/img/user (2).png" height="100px;" width="100px;" alt="">
                    <div class="card-body">
                        <h3>Orion Pioneer</h3>
                        <p>this member pioneered this system and has worked hand in hand with the rest of the team to ensure sucess.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 team ">
                <div class="card">
                    <img class="card-img-top img-rounded" src="/assets/img/user (2).png" height="100px;" width="100px;" alt="">
                    <div class="card-body">
                        <h3>Orion Pioneer</h3>
                        <p>this member pioneered this system and has worked hand in hand with the rest of the team to ensure sucess.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 team ">
                <div class="card">
                    <img class="card-img-top img-rounded" src="/assets/img/user (2).png" height="100px;" width="100px;" alt="">
                    <div class="card-body">
                        <h3>Orion Pioneer</h3>
                        <p>this member pioneered this system and has worked hand in hand with the rest of the team to ensure sucess.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>-->
    <div class="footer bg-dark">
        <h4>&copy; ORION SYSTEMS 2019</h4>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>