<nav class="navbar navbar-expand-lg nvbar-dark bg-dark">
    <a class="navbar-brand" href="#">ORION SYSTEMS</a>
    <button class="navbar-toggler " type="button " data-toggle="collapse " data-target="#navbarSupportedContent " aria-controls="navbarSupportedContent " aria-expanded="false " aria-label="Toggle navigation ">
                    <span class="navbar-toggler-icon "></span>
                  </button>



    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-5">
            <li class="nav-item">
                <a class="nav-link" routerLink="#">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="#">CANDIDATES</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                          ELECTIONS
                        </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="">PRELIMINARIES</a>
                    <a class="dropdown-item" href="#">DELEGATES</a>
                    <a class="dropdown-item" href="#">CANDIDATES</a>
                    <a class="dropdown-item" href="#">MAIN ELECTIONS</a>

                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="#">CONTACT US</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="#"> ABOUT</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="section-title mb-3">
        <h2>elective category 1</h2>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <div class="card shadow-lg bg-white">
                <div class="card-body">
                    <img src="" alt="">
                    <h4>candidate 1</h4>
                    <p>manifesto</p>
                    <a class="btn btn-secondary" href="">vote</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="card shadow-lg bg-white">
                <div class="card-body">
                    <img src="" alt="">
                    <h4>candidate 1</h4>
                    <p>manifesto</p>
                    <a class="btn btn-secondary" href="">vote</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <div class="card shadow-lg bg-white">
                <div class="card-body">
                    <img src="" alt="">
                    <h4>candidate 1</h4>
                    <p>manifesto</p>
                    <a class="btn btn-secondary" href="">vote</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="card shadow-lg bg-white">
                <div class="card-body">
                    <img src="" alt="">
                    <h4>candidate 1</h4>
                    <p>manifesto</p>
                    <a class="btn btn-secondary" href="">vote</a>
                </div>
            </div>
        </div>
    </div>
    <div class="section-title mb-3">
        <h2 class="display-5">elective category 1</h2>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <div class="card shadow-lg bg-white">
                <div class="card-body">
                    <img src="" alt="">
                    <h4>candidate 2</h4>
                    <p>manifesto</p>
                    <a class="btn btn-secondary" href="">vote</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="card shadow-lg bg-white">
                <div class="card-body">
                    <img src="" alt="">
                    <h4>candidate 1</h4>
                    <p>manifesto</p>
                    <a class="btn btn-secondary" href="">vote</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <div class="card shadow-lg bg-white">
                <div class="card-body">
                    <img src="" alt="">
                    <h4>candidate 1</h4>
                    <p>manifesto</p>
                    <a class="btn btn-secondary" href="">vote</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="card shadow-lg bg-white">
                <div class="card-body">
                    <img src="" alt="">
                    <h4>candidate 1</h4>
                    <p>manifesto</p>
                    <a class="btn btn-secondary" href="">vote</a>
                </div>
            </div>
        </div>
    </div>
</div>